div.webBrayns-view-panel-Clip {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

div.webBrayns-view-panel-Clip > div p {
    padding: .5rem;
    margin: 1rem 0;
    background: var(--thm-bgPL);
    border-radius: .25rem;
}

div.webBrayns-view-panel-Clip > header {
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.webBrayns-view-panel-Clip > header > div {
    flex: 1 0 auto;
}

div.webBrayns-view-panel-Clip > header > p {
    text-align: center;
    width: 100%;
    flex: 1 1 auto;
}

div.webBrayns-view-panel-Clip > div {
    position: absolute;
    left: 0;
    top: 3rem;
    bottom: 0;
    width: 100%;
    padding: .5rem;
    overflow-y: auto;
}
