div.webBrayns-view-loader-Circuit {
    max-width: 600px;
}

div.webBrayns-view-loader-Circuit > div,
div.webBrayns-view-loader-Circuit > footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.webBrayns-view-loader-Circuit em {
    opacity: .5;
}

div.webBrayns-view-loader-Circuit div.hint {
    padding: 1rem;
}

div.webBrayns-view-loader-Circuit div.wait {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

div.webBrayns-view-loader-Circuit div.wait > div {
    flex: 1 1 auto;
}

div.webBrayns-view-loader-Circuit div.wait > div:first-child {
    flex: 0 0 auto;
}

div.webBrayns-view-loader-Circuit div.error {
    padding: .5rem;
    margin: .5rem;
    background: red;
    color: #fff;
    border: 1px solid var(--thm-white-7);
    max-width: 300px;
}
