div.tfw-view-InputColor {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: .5rem;
}
div.tfw-view-InputColor.wide {
    display: block;
}
div.tfw-view-InputColor > div.summary > div.tfw-view-Slider {
    flex: 1 1 auto;
    min-width: 110px;
}
div.tfw-view-InputColor > div.summary > div.tfw-view-Touchable {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    background-repeat: repeat;
    background-image: url(./background.jpg);
}
div.tfw-view-InputColor > div.summary > div.tfw-view-Touchable > div {
    max-height: 2rem;
    min-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}
div.tfw-view-InputColor > div.summary > div.tfw-view-Touchable > input {
    line-height: 2rem;
    font-size: 1rem;
    font-family: monospace;
    font-weight: bold;
    padding: 0 .5rem;
    border: 0;
    outline: 0;
    width: 6rem;
    min-width: 6rem;
    max-height: 2rem;
    min-height: 2rem;
    flex: 1 1 auto;
    text-transform: uppercase;
}
div.tfw-view-InputColor > div.summary > div.tfw-view-Touchable > input.invalid {
    font-weight: normal;
    text-decoration: line-through;
}
