div.webBrayns-view-Scale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

div.webBrayns-view-Scale > * {
    flex: 1 1 auto;
}
