div.webBrayns-view-ImageStream {
    position: relative;
    margin: 0;
    display: block;
}

div.webBrayns-view-ImageStream > * {
    position: absolute;
}

div.webBrayns-view-ImageStream > canvas {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.webBrayns-view-ImageStream > div.icons {
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5rem;
}
