div.webBrayns-view-PathList {
    overflow: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

div.webBrayns-view-PathList > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
}

div.webBrayns-view-PathList div.folder-button {
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

div.webBrayns-view-PathList div.folder-button > div.tfw-view-touchable {
    margin: 2px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 80%;
}

div.webBrayns-view-PathList div.folder-button > div > div.label {
    margin: 0 .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: normal;
    flex: 1 1 auto;
}

div.webBrayns-view-PathList div.folder-button > div > div.size {
    flex: 0 0 auto;
    white-space: nowrap;
    font-size: 80%;
}

div.webBrayns-view-PathList div.folder-button > div > div.size > span {
    padding: 3px 6px;
    border-radius: 6px;
}

div.webBrayns-view-PathList div.folder-button > div > div.size > span.kb {
    background: white;
    color: #000;
}

div.webBrayns-view-PathList div.folder-button > div > div.size > span.mb {
    background: yellow;
    color: #000;
}

div.webBrayns-view-PathList div.folder-button > div > div.size > span.gb {
    background: orange;
    color: #000;
}

div.webBrayns-view-PathList div.folder-button > div > div.size > span.tb {
    background: red;
    color: #fff;
}
