div.webBrayns-view-panel-World {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.webBrayns-view-panel-World > div {
    flex: 1 1 auto;
    overflow: auto;
}

div.webBrayns-view-panel-World > div.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 0 auto;
}

div.webBrayns-view-panel-World > footer {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

div.webBrayns-view-panel-World > footer em {
    opacity: .5;
}

div.webBrayns-view-panel-World > div.qrcode {
    text-align: center;
}

div.webBrayns-view-panel-World > div.qrcode > div {
    display: inline-block;
    padding: 16px;
    background: #fff;
}
