div.webBrayns-view-TransferFunction > canvas {
    margin: 0px;
    width: 100%;
}

div.webBrayns-view-TransferFunction > div.range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
