div.webBrayns-view-TargetsSelector {
    --list-width: 220px;
    max-width: 480px;
    max-height: 640px;
    min-height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: .5rem;
}

div.webBrayns-view-TargetsSelector > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-width: var(--list-width);
}

div.webBrayns-view-TargetsSelector div.targets {
    margin: .25rem;
    overflow: auto;
    flex: 1 1 auto;
    font-size: 80%;
    max-height: 50vh;
    max-width: var(--list-width);
}

div.webBrayns-view-TargetsSelector div.target {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 24px;
    padding: 0 1em;
    border-radius: .25em;
    border: 1px solid #0004;
    margin: 1px 0;
    max-width: var(--list-width);
}
