html, body {
    font-family: josefin-sans;
}

h1 {
    font-size: 100%;
    border-bottom: 1px solid var(--thm-black-5);
    color: var(--thm-black);
    margin: 1.5rem .5rem 1rem .5rem;
}

h2 {
    font-size: 100%;
    border-bottom: 1px solid var(--thm-black-4);
    color: var(--thm-black-d);
    margin: 1.5rem .5rem 2rem .5rem;
}

h3 {
    font-size: 100%;
    border-bottom: 1px solid var(--thm-black-3);
    color: var(--thm-black-c);
    margin: 1.5rem .5rem 3rem .5rem;
}

#splash-screen.vanish {
    opacity: 0;
    transition: opacity .6s;
}


div.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(./checker.jpg);
}

div.App {
    --panel-width: 400px;
}

div.App > div.view {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    /*width: calc(100% - var(--panel-width));*/
    overflow: hidden;
    background: #500;
    display: block;
}

div.App.visible > div.view {
    left: var(--panel-width);
}

div.App > div.view > div:first-child {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

div.App > div.panel > header {
    height: 2rem;
    flex: 0 0 auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}

div.App > div.panel {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--panel-width);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

div.App > div.panel > header > div {
    padding: 0 .5rem;
}

div.App > div.panel > div {
    height: calc(100% - 2rem);
}

div.App > div.panel > div > * {
    flex: 1 1 auto;
}

div.App > div.view > div.icons {
    position: absolute;
    right: 8px;
    top: 8px;
}
