div.webBrayns-view-inputPath > div.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

div.webBrayns-view-inputPath > div.flex > * {
    flex: 1 1 auto;
}

div.webBrayns-view-inputPath > div.flex > *:last-child {
    flex: 0 0 auto;
}

div.webBrayns-view-inputPath div.loading {
    transition: filter .3s;
    filter: grayscale(100%);
    pointer-events: none;
}

div.webBrayns-view-inputPath div.ready {
    transition: filter .2s;
    filter: grayscale(0);
    pointer-events: all;
}
