div.webBrayns-view-WebsocketConsole {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

div.webBrayns-view-WebsocketConsole > div.head {
    max-height: 4rem;
}

div.webBrayns-view-WebsocketConsole > div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div.webBrayns-view-WebsocketConsole > div > div {
    flex: 1 1 auto;
}

div.webBrayns-view-WebsocketConsole > div.head > div:last-child {
    flex: 0 0 auto;
}

div.webBrayns-view-WebsocketConsole > div.body > div {
    position: relative;
    width: 50%;
    height: 100%;
}

div.webBrayns-view-WebsocketConsole > div.body > div > div {
    overflow: auto;
}

div.webBrayns-view-WebsocketConsole > div.body > div > textarea {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
