div.webBrayns-view-WebsocketConsole {
    position: relative;
    display: block;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow: hidden;
}

div.webBrayns-view-WebsocketConsole > div.head {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

div.webBrayns-view-WebsocketConsole > div.body {
    position: absolute;
    top: 4rem;
    left: 0;
    right: 0;
    bottom: 0;
}

div.webBrayns-view-WebsocketConsole > div > div {
    flex: 1 1 auto;
}

div.webBrayns-view-WebsocketConsole > div.head > div:last-child {
    flex: 0 0 auto;
}

div.webBrayns-view-WebsocketConsole > div.body > div {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: 100%;
}

div.webBrayns-view-WebsocketConsole > div.body > div > pre {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div.webBrayns-view-WebsocketConsole > div.body > div.output> div.error {
    font-family: monospace;
    color: #fff;
    background: #d00;
    padding: 1rem;
    overflow: auto;
    white-space: pre-wrap;
}

div.webBrayns-view-WebsocketConsole > div.body > textarea {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
}
