div.webBrayns-view-WebsocketConsole {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
}

div.webBrayns-view-WebsocketConsole>div {
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
}

div.webBrayns-view-WebsocketConsole div.input,
div.webBrayns-view-WebsocketConsole div.output {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: 100%;
}

div.webBrayns-view-WebsocketConsole div.input>*,
div.webBrayns-view-WebsocketConsole div.output>* {
    flex: 0 0 auto;
}

div.webBrayns-view-WebsocketConsole textarea.input,
div.webBrayns-view-WebsocketConsole textarea.output {
    flex: 1 1 auto;
    margin: .25rem;
    padding: .25rem;
    height: 100%;
    resize: none;
    border: 1px solid var(--thm-black-5);
    border-radius: 0.25rem;
}

div.webBrayns-view-WebsocketConsole div.output>div.error {
    flex: 1 1 auto;
    margin: .25rem;
    padding: .25rem;
    height: 100%;
    resize: none;
    color: #fff;
    background: #f00;
}

div.webBrayns-view-WebsocketConsole div.input>div.button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

div.webBrayns-view-WebsocketConsole > div.help {
    transition: all .2s;
    min-width: 240px;
    overflow: auto;
    max-height: calc(100vh - 5rem);
    top: 4rem;
}

div.webBrayns-view-WebsocketConsole > div.help.hide {
    transform: translateX(0);
    opacity: 0;
}

div.webBrayns-view-WebsocketConsole > div.help.show {
    transform: translateX(110%);
    opacity: 1;
}

div.webBrayns-view-WebsocketConsole > div.help > div {
    padding: 1rem;
    opacity: .9;
    border-radius: 1rem;
}
