div.webBrayns-view-ModelButton {
    padding: .25rem;
    margin: .25rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 96px;
}

div.webBrayns-view-ModelButton > div.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
