div.webBrayns-view-ModelButton {
    padding: .25rem;
    margin: .25rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    height: 76px;
}

div.webBrayns-view-ModelButton > div.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.webBrayns-view-ModelButton div.id {
    display: inline-block;
    padding: 0 .25rem;
    opacity: .5;
    font-size: 80%;
}

div.webBrayns-view-ModelButton div.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.webBrayns-view-ModelButton div.name > div:last-child {
    flex: 0 0 auto;
}

div.webBrayns-view-ModelButton div.name > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
}

div.webBrayns-view-ModelButton div.name > div.invisible {
    font-style: italic;
}

div.webBrayns-view-ModelButton div.name > div.visible {
    font-weight: bold;
}
